<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>
    {{ msg }}

    <form method="post">{% csrf_token %}
      <input type="text" name="username" placeholder="Nombre de usuario">
      <input type="password" name="password" placeholder="Contraseña">
      <input type="submit" name="submit" value="Ingresar">
    </form>
  </body>
</html>
