<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    <a href="/dashboard/solicitar/" name="solicitar">Solicitar material</a>
    {% if is_coordinador %}
        <a href="/dashboard/revisar/" name="revisar">Revisar material</a>
    {% endif %}
    <a href="/logout" name="cerrar">Cerrar sesión</a>
  </body>
</html>
