<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Revisar material</title>
  </head>
  <body>
    {% for material in materiales %}
        <div>
          <p>--------------------------------------------------------</p>
          <p>Código: {{ material.cod_unspsc }} </p>
          <p>Nombre: {{material.nombre }} </p>
          <p>Instructor: {{ material.instructor }} </p>
          <p>Instructor: {{ material.coordinador }} </p>
          <p>--------------------------------------------------------</p>
        </div>
    {% endfor %}
    <a href="/logout">Cerrar sesión</a>
  </body>
</html>
