<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    {% for material in materiales %}
      <div>
        <p> {{material.nombre}} - <a href="/dashboard/aprobar/material/{{ material.id }}">Aprobar</a></p>
      </div>
    {% endfor %}

    <a href="/dashboard/">Volver</a>
  </body>
</html>
