<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    {{ msg }}
    <form method="post">{% csrf_token %}
      <input type="text" name="cod" placeholder="Código UNSPSC">
      <input type="text" name="nombre" placeholder="Nombre">
      <input type="text" name="desc" placeholder="Descripción">
      <select name="tipo">
        <option value="-1" disabled selected>Seleccione un tipo</option>
        {% for tipo in tipos %}
          <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
        {% endfor %}
      </select>
      <input type="text" name="unidad" placeholder="Unidad de medida">
      <select name="coordinador">
        <option value="-1" disabled selected>Seleccione un coordinador</option>
        {% for coordinador in coordinadores %}
          <option value="{{ coordinador.id }}">{{ coordinador }}</option>
        {% endfor %}
      </select>
      <input type="submit" name="submit" placeholder="Solicitar">
    </form>
    <a href="/dashboard/">Volver</a>
  </body>
</html>
